<link rel="stylesheet" href="grid.css">

<!-- component template -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ headernames[key] | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          <template v-if="key === 'bssid'">
            <!-- https://vuejs.org/v2/guide/syntax.html#Arguments -->
            <a v-bind:href="'/api/select/' + entry[key]">
              {{ entry[key] }}
            </a>
          </template>
          <template v-else-if="key === 'wps_version'">
            {{ entry[key] | wps_version }}
          </template>
          <template v-else>
            {{ entry[key] }}
          </template>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!-- demo root element -->
<div id="demo">
  <form id="search">
    Search <input name="query" v-model="searchQuery">
  </form>
  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :headernames="gridHeaders"
    :filter-key="searchQuery">
  </demo-grid>
</div>

<script src="vue"></script>
<script src="grid.js"></script>

